.env.local
backend-sec/node_modules
backend-sec/generated/prisma
backend-sec/.env
frontend/node_modules
js-based-barcode-reader/
.env
.idea
.github
frontend/node_modules

backend-sec/node_modules
backend-sec/.env

js-based-barcode-reader/

frontend-redesigned/
frontend-redesigned-3/